html, body, div[class^="col-sm-"]{
    height: 100%;
    text-align: center;
    color: #ddd;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}

div[class^="col-sm-"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-4{
    background-color: #4f919e;
}

.col-sm-8{
    background-color: #333333;
}

a{
    color: #fff;
    text-decoration: underline;
    transition: 0.5s;
}

a:hover{
    color: #222;
    text-decoration: none;
}

h1{
    color: #fff;
    font-size: 30px;
}

h2{
    color: #fff;
    font-size: 30px;
}

.portrait{
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: auto;
    border-radius: 100%;
    transform: rotate(0deg); 
    transition: 1s;
}

.portrait:hover{
    transform: rotate(720deg);
    transition: 1s;
}

.link_image{
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
    transform: rotate(0deg);
    transition: 1s;
}

.link_image:hover{
    transform: rotate(360deg);
    transition: 1s;
}

hr{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    height: 1px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}
